
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');

bod*{
  margin: 0;
  padding: 0;
}


.yap{




color: #00b39b;

padding-top: 2px;


padding-bottom: 60px;



}

img{

cursor: pointer;



}

.navbar {
  margin: 6px 10px ,5px;
  display: flex;
/*
position: fixed;

top: 0;

width: 100%;

"well that didn't work as expected xD"

*/
  
}











.departments {
  position: relative;
  display: inline-block;

  
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 268px;
}
/* Show the dropdown menu on hover */
.departments:hover .dropdown-content {
  display: block;
}
.navbar img {
  width: 25%;
}
.navbar div {
  color: #00b39b;
  font-weight: bold;
  
  line-height: 2em;
  padding: 1.33em 0;
}
.menu {
  display: flex;
  width: 30%;

  font-size: larger;

  cursor: pointer;


  word-spacing: normal;
}



div.navbar {
  justify-content: space-between;
}
.menu p {
  margin: auto;
}
/*-- header end ---*/
/*--section inner--*/
.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
div.paragraphs {
  display: flex;
  margin: 1% 20%;
  color: gray;
  font-size: 16px;
  line-height: 1.75;
  font-weight: 400;
}
h1.inner {
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
}
P.paragraphs {
  padding: 0% 10%;
}
/*-- section country ---*/
section#select {
  display: flex;
  justify-content: space-between;
  margin: 10%;
}

div.patients {
  background-color: #00b39b;
  color: white;
  width: 50%;
  font-size: larger;
  justify-content: space-between;
  border-radius: 20px;
  box-shadow: 7px 5px 7px black;
  padding: 7em 6em 40px;
}

div.doctors {
  
  color: white;
  width: 50%;
 
  border-radius: 9px;
  box-shadow: 7px 5px 7px black;
  background-color: #3b85e6;
  margin: 0px 15px;

  padding: 3.375em 1.25em 37px;
}

div.clinics {
  background-color: #141e29;
  color: white;
  width: 65%;
  border-radius: 9px;
  box-shadow: 7px 5px 7px black;
  padding: 3.375em 1.25em 37px;
}
.doctors h3 {
  color: white;
  
}


.h1{

color: #1cac98;





}

section#logos {
  display: flex;
  margin: 13%;
}




.logos {
   
    display: flex;

    flex-wrap: wrap;
   
    align-items: center;

    font-size: 0;
    width: 65%;

    list-style: none;
  }









  @media (max-width:850px) {
   .brands__logos li {
    width:40%
   }
  }
  @media (max-device-width:480px) {
   .brands__logos li {
    width:60%
}




